body {
	cursor: default;
	display: flex;
	flex-direction: column;
	opacity: 0.5;

	&.primary {
		opacity: 1;
	}
}

.frame {
	border: 10px solid $frame-color-focus-dark-mode;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	border-radius: 4px 4px 0 0;
	flex-grow: 1;
	-webkit-app-region: drag;
	-webkit-user-select: none;
	
	body.light-mode & {
		border: 10px solid $frame-color-focus-light-mode;
	}
}

.container {
	display: flex;
	flex-direction: column;
	position: absolute;
}

.row {
	display: flex;
	flex-direction: row;

	&.row-outer {
		flex-grow: 1;
	}
}

.col, .row-outer {
	background-color: $column-background-color-dark-mode;
	
	body.light-mode & {
		background-color: $column-background-color-light-mode;
	}
}

.col-outer {
	flex-grow: 1;
}
