html, body {
	overflow: hidden;
}

html, body, .container {
	width: 100%;
	height: 100%;
}

html, body, p, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

fieldset {
	border: 0;
}

label {
	font-size: 14px;
}

input[type=checkbox] {
	margin: 0;
	position: relative;
	top: -1px;
}

.a11y {
	position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.transition-colors {
	.frame,
	.tip,
	#imageContainer,
	.negative,
	.col,
	.row-outer,
	.label,
	.close,
	.tab,
	:after,
	:before {
		transition: 
			background-color $color-transition-duration $color-transition-easing,
			border-color $color-transition-duration $color-transition-easing,
			box-shadow $color-transition-duration $color-transition-easing,
			color $color-transition-duration $color-transition-easing !important;
	}
}
