body {
	padding: 18px 20px;
	background-color: #e7e7e7;
	font-size: 14px;
}

fieldset {
	border-bottom: 1px solid #d2d2d2;
	padding-left: 0;
	padding-bottom: 18px;
}

fieldset:last-child {
	border: none;
}

fieldset + fieldset {
	margin-top: 18px;
}

.form-group {
	margin-left: 15px;
	margin-bottom: 10px;
}

.form-group:last-child {
	margin-bottom: 0;
}



legend {
	margin-bottom: 5px;
	padding-left: 0;
}

.loading-indicator {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: none;
	
	&-show {
		display: inline;
	}
}

.note {
	display: block;
	font-size: 11px;
	margin: 5px 0 0 16px;
}

.updates-label {
	font-size: 13px;
}

.hide {
	display: none;
}

a {
	color: #1a82fb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	font-size: 13px;
	margin-left: -1px;
	margin-right: 3px;
	border: 0;
	border-radius: 4px;
	padding: 2px 25px 3px;
	background: #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 0.5px rgba(0, 0, 0, 0.1);
	outline: none;
}

button.primary {
	background: -webkit-linear-gradient(top, #6fb4f7, #1a82fb);
	color: #fff;
	box-shadow: 0 0 0 1px rgba(47, 120, 255, 0.5) inset, 0 0.5px rgba(0, 0, 0, 0.1);
}

button:active {
	color: #fff;
	background: -webkit-linear-gradient(top, #509afb, #1469e0);
	box-shadow: 0 0 0 1px rgba(44, 130, 251, 0.5) inset, 0 0.5px rgba(0, 0, 0, 0.1);
}