nav {
    height: 27px;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
}

.wrap {
    margin: 0 10px 0 70px;
    padding-left: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 50px;
}

.tabs {
    margin: 0;
    padding: 0;
    height: 100%;
}

.tab {
	margin: 1px 20px 0 6px;
    float: left;
	height: 26px;
    min-width: 100px;
    max-width: 160px;
	outline: none;
	box-sizing: border-box;
    position: relative;
    box-shadow: inset -1px 1px 0 #484848;
    transition: transform 200ms ease;

    /*&:hover,
    &:focus,
    &.selected,
    &.has-content {
        border-width: 3px;
    }*/

    > .label {
        position: relative;
        z-index: 1;
        font-size: 11px;
        line-height: 26px;
        color: #aaa;
        pointer-events: none;
    }
    > .close {
        border: 0;
        background-color: transparent;
        color: #aaa;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        position: absolute;
        right: -5px;
        top: 2px;
        z-index: 1;
        padding: 5px;

        &:hover {
            color: #fff;
        }
    }

    &:before {
        left: -14px;
        border-top-left-radius: 3px;
        box-shadow: inset 1px 1px 0 #484848;
        -webkit-transform: skewX(-30deg);
    }
    &:after {
        right: -14px;
        border-top-right-radius: 3px;
        box-shadow: inset -1px 1px 0 #484848;
        -webkit-transform: skewX(30deg);
    }
    &:before, &:after {
        content: '';
        position: absolute;
        top: 0px;
        width: 25px;
        height: 26px;
    }
    &, &:before, &:after {
        /*transition: background-color 100ms ease;*/
        background-color: $frame-color-blur;
    }

    &:hover,
    &:focus {
	}

	&.selected {
        background-color: $frame-color-focus;
        z-index: 9999;

        &, &:before, &:after {
            background-color: $frame-color-focus;
        }

        > .label {
            color: #fff;
        }
	}

    &.shift-right {
        transform: translateX(125px);
    }

    &.shift-left {
        transform: translateX(-125px);
    }

    &.shift-none {
        transition: none;
        transform: translateX(0);
    }
}
