nav {
    height: 27px;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
}

.wrap {
    margin: 0 10px 0 70px;
    padding-left: 16px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 50px;
}

.tabs {
    margin: 0;
    padding: 0;
    height: 100%;
}

.tab {
	margin: 1px 20px 0 5px;
    float: left;
	height: 26px;
    min-width: 100px;
    max-width: 160px;
	outline: none;
	box-sizing: border-box;
	transition: border-width 100ms ease, border-color 100ms ease;
    position: relative;
    background-color: $frame-color-focus;
    box-shadow: inset -1px 1px 0 #484848, 4px -4px 4px rgba(0, 0, 0, 0.1);

	&:hover,
    &:focus {
	}

	&.selected {
	}

    &:hover,
    &:focus,
    &.selected,
    &.has-content {
        border-width: 3px;
    }
    > button {
        border: 0;
        background-color: transparent;
    }
    &:before {
        left: -14px;
        border-top-left-radius: 3px;
        box-shadow: inset 1px 1px 0 #484848, -4px 0px 4px rgba(0, 0, 0, 0.1);
        -webkit-transform: skewX(-30deg);
    }
    &:after {
        right: -14px;
        border-top-right-radius: 3px;
        box-shadow: inset -1px 1px 0 #484848, 4px 0px 4px rgba(0, 0, 0, 0.1);
        -webkit-transform: skewX(30deg);
    }
    &:before, &:after {
        content: '';
        position: absolute;
        top: 0px;
        width: 25px;
        height: 26px;
        background-color: $frame-color-focus;
    }
}
