$frame-color-blur: rgba(0, 0, 0, 0.65);
$frame-color-focus: rgba(0, 0, 0, 0.8);

$column-background-color: rgba(0, 0, 0, 0.5);

// $tip-duration must be divisible by $tip-count
$tip-count: 8;
$tip-duration: $tip-count * 6s;
