<!DOCTYPE html>
<html>
	<head>
		<title>Negative</title>
		<link rel="stylesheet" href="index.css" />
	</head>
	<body>
		<nav>
			<div id="tabs" class="tabs">
				<button class="tab selected" aria-label="tab" aria-selected="true"></button>
			</div>
		</nav>
		<main class="frame">
			<div class="container">
				<div class="row row-outer"></div>
				<div class="row">
					<div class="col col-outer"></div>
					<div class="col" id="imageContainer">
						<img class="negative" id="negativeImage" />
					</div>
					<div class="col col-outer"></div>
				</div>
				<div class="row row-outer"></div>
			</div>
			<ul id="tips">
				<li class="tip" id="tip1" aria-label="short cut">
					<p>&#8984;G</p>
					<p>Take a screenshot</p>
				</li>
				<li class="tip" id="tip2" aria-label="short cut">
					<ul class="shortcuts">
						<li>&larr;</li>
						<li>&uarr;</li>
						<li>&rarr;</li>
						<li>&darr;</li>
					</ul>
					<p>Move the window 1px</p>
				</li>
				<li class="tip" id="tip3" aria-label="short cut">
					<ul class="shortcuts">
						<li>&#8679;&larr;</li>
						<li>&#8679;&uarr;</li>
						<li>&#8679;&rarr;</li>
						<li>&#8679;&darr;</li>
					</ul>
					<p>Move the window 10px</p>
				</li>
				<li class="tip" id="tip4" aria-label="short cut">
					<p>&#8963;&#8984;H</p>
					<p>Hide or show Negative (from any app)</p>
				</li>
				<li class="tip" id="tip5" aria-label="short cut">
					<p>&#8984;T</p>
					<p>Add a tab</p>
				</li>
				<li class="tip" id="tip6" aria-label="short cut">
					<ul class="shortcuts">
						<li>&#8984;&rarr;</li>
						<li>&#8984;&larr;</li>
					</ul>
					<p>Select next or previous tab</p>
				</li>
				<li class="tip" id="tip7" aria-label="short cut">
					<p>&#8984;F</p>
					<p>Fit window to image</p>
				</li>
				<li class="tip" id="tip8" aria-label="short cut">
					<ul class="shortcuts">
						<li>&#8679;&#8984;&rarr;</li>
						<li>&#8679;&#8984;&larr;</li>
					</ul>
					<p>Select next or previous tab + fit window to image</p>
				</li>
			</ul>
		</main>
		<script src="index.js"></script>
	</body>
</html>
