<!DOCTYPE html>
<html>
    <head>
        <title>Negative - Preferences</title>
        <link rel="stylesheet" href="settings.css" />
    </head>
    <body>
        <form>
            <fieldset>
                <legend>Tips</legend>
                <div class="form-group">
                    <label><input type="checkbox" id="shouldShowTips" checked /> Show tips</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Updates</legend>
                <div class="form-group">
                    <label><input type="checkbox" id="shouldAutoUpdate" checked /> Automatically check for updates</label>
                    <label class="note" for="shouldAutoUpdate">At most, this will happen once per day.</label>
                </div>
                <div class="form-group">
                    <button id="checkForUpdates" type="button">Check Now</button>
                    <button id="restartAndInstall" class="primary hide" type="button">Restart and Install</button>
                    <img src="../resources/loading-indicator.gif" class="loading-indicator" id="checkForUpdatesLoadingIndicator" width="16" height="16" />
                    <label class="updates-label" id="checkForUpdatesLabel"></label>
                    <a href="" target="_blank" class="updates-label" id="checkForUpdatesLink"></a>
                </div>
            </fieldset>
        </form>
        <script src="settings.js"></script>
    </body>
</html>
