<!DOCTYPE html>
<html>
    <head>
        <title>Negative - Preferences</title>
        <link rel="stylesheet" href="settings.css" />
    </head>
    <body>
        <form>
            <fieldset>
                <legend class="a11y">Tips</legend>
                <div class="form-group">
                    <label><input type="checkbox" id="shouldShowTips" checked /> Show tips</label>
                </div>
            </fieldset>
        </form>
        <script src="settings.js"></script>
    </body>
</html>
